.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0; left: 0;
  background: rgba(246, 195, 195, 0.6);
}

.modal-content-wrapper{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 600px; height: 400px;
    background: #fefbfb;
    border-radius: 1.5rem;
    padding: 2.5rem;
}